* {
  margin: 0;
  font-family: Montserrat, sans-serif; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto; }

button {
  border: 0px solid; }

.logo {
  font-family: lato,sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 30px; }

header a {
  text-decoration: none; }

.logo__text {
  margin-left: 25px;
  color: #333333; }

.logo__io {
  color: #8d81ac; }

header ul li {
  list-style-type: none;
  display: inline-block;
  padding: 47px 0 41px 0;
  color: #866e81;
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  margin-right: 40px; }

ul li a {
  color: #635c73; }

.default {
  font-size: 16px;
  color: white;
  background-color: #8d81ac;
  border-radius: 40px;
  padding: 13px 48px 10px 48px; }

.fork-app {
  background-image: url("../images/main-bg1.png");
  height: 700px;
  padding-top: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

h1 {
  color: white;
  font-size: 82px;
  font-weight: bold; }

.fork-app__description {
  margin-top: 15px;
  color: #8B7FAA;
  font-size: 30px; }

.fork-app__version {
  color: #848E97;
  margin-top: 20px;
  font-size: 16px;
  text-transform: uppercase; }

.revolutionary-editor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.download {
  font-size: 21px;
  padding: 20px 75px;
  font-weight: 700;
  opacity: 100%;
  margin: 0 auto;
  margin-top: -35px; }

.revolutionary-editor p {
  margin-top: 18px;
  font-size: 14px; }

.revolutionary-editor h2 {
  color: #635C73;
  font-weight: 700;
  font-size: 54px;
  text-transform: uppercase;
  margin-top: 50px; }

p.revolutionary-editor__description {
  font-size: 21px;
  font-family: Source Sans Pro;
  line-height: 32px;
  margin-top: 25px; }

.revolutionary-editor img {
  margin-top: 20px; }

.advantages {
  margin-top: 70px;
  height: 680px;
  background-color: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.advantages__blocks {
  margin-left: 100px;
  margin-top: 50px; }

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: row;
  -ms-flex-pack: row;
  justify-content: row;
  margin-top: 50px; }

.block1__margin {
  margin-left: 20px; }

.block2__margin {
  margin-left: 41px; }

.block3__margin {
  margin-left: 71px; }

.block4__margin {
  margin-left: 60px; }

.block__text h2 {
  font-size: 16px; }

.block__description {
  font-size: 14px; }

.icon1 {
  height: 64px;
  width: 111px;
  background-image: url("../images/icon1.png"); }

.icon2 {
  height: 80px;
  width: 90px;
  background-image: url("../images/icon2.png"); }

.icon3 {
  height: 84px;
  width: 60px;
  background-image: url("../images/icon3.png"); }

.icon4 {
  height: 71px;
  width: 71px;
  background-image: url("../images/icon4.png"); }

.code {
  margin-top: -505px;
  margin-left: 620px; }

.code h3 {
  color: #8d81ac;
  font-size: 48px; }

.user {
  height: 380px; }

.user__steven-strange {
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 90px 564px;
  float: center;
  width: 200px; }

.name {
  font-size: 24px;
  width: 186px; }

.pseudonym {
  font-size: 16px; }

.Pixelbuddha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.text-Pixelbuddha {
  font-size: 20px;
  width: 840px; }

.color-Pixelbuddha {
  color: #8d81ac; }

.time {
  color: #848e97;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.sites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.sites__github button {
  border-radius: 8px;
  margin-left: 30px;
  color: black;
  background-color: white; }

.sites__facebook button {
  width: 230px;
  color: white;
  border-radius: 8px;
  margin-left: 30px;
  background-color: #3b5998; }

.sites__twitter button {
  padding-right: 70px;
  color: white;
  border-radius: 8px;
  margin-left: 30px;
  background-color: #26a6d1; }

.sites__logo {
  margin-left: -20px; }

.site__name {
  font-size: 21px;
  padding-left: 15px;
  margin-right: 32px; }

.github__followers {
  color: #848e97;
  margin-top: 15px;
  margin-left: 80px; }

.facebook__followers {
  color: #848e97;
  margin-top: 15px;
  margin-left: 80px; }

.twitter__followers {
  color: #848e97;
  margin-top: 15px;
  margin-left: 80px; }

.people_about {
  background-image: url("../images/main-bg2.png");
  height: 750px; }

.people_about h2 {
  color: white;
  font-size: 48px;
  padding-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.fork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 24px;
  padding: 25px 0;
  text-align: center; }

.fork__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-family: Source Sans Pro;
  font-size: 16px;
  color: white;
  margin: 50px 30px;
  width: 362px; }

.fork__block p {
  margin-top: 28px; }

.strip {
  border: 1px solid #c7c7c7;
  width: 780px;
  margin: 0 auto; }

.subscribe {
  background-image: url("../images/main-bg3.png");
  height: 850px; }

.subscribe h2 {
  color: white;
  font-size: 48px;
  text-align: center;
  padding-top: 30px; }

.subscribe__block {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }

.rank {
  font-size: 24px;
  color: white;
  font-size: 24px;
  text-transform: uppercase;
   }

.block_of_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 7px;
  width: 257px; }

.header {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #685b6a; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #5F5161; }

.price {
  font-size: 60px;
  color: white; }

.per_month {
  font-size: 14px;
  color: #7F737D; }

.price-description-block {
  height: 185px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.price-description {
  width: 190px;
  color: white;
  font-size: 16px; }

.block_of_price .purchase {
  text-transform: uppercase;
  background-color: #696969; }

.text_price {
  margin-top: 50px;
  color: #b5acb5;
  text-align: center; }

.subscribe-to {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f4f4f4;
  height: 200px; }

.subscribe-to h2 {
  margin-left: 100px;
  font-size: 30px;
  color: #635c73; }

input {
  border-radius: 30px;
  padding: 15px; }

.subscribe-to__inputs {
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.subscribe-to__inputs button {
  margin-left: 40px; }

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.link {
  width: 332px;
  font-size: 28px; }

.link h3 {
  color: #d3d1da; }

strong {
  margin-top: 50px;
  font-size: 16px; }

.link p {
  margin-top: 15px;
  font-size: 13px; }

.link2 strong {
  color: #8d81ac; }

.link3 p {
  margin-top: 10px; }

.link_button {
  border-radius: 0px;
  color: #8d81ac;
  background-color: #f4f4f4; }

.link_button1 {
  margin-top: 40px; }

.link_button2 {
  margin-top: 36px; }

.link_button3 {
  margin-top: 50px; }

footer {
  padding-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.footer-block {
  width: 253px; }

.footer-block p {
  margin-top: 20px;
  color: #848e97; }

footer ul li {
  list-style-type: none;
  margin-top: 10px;
  font-size: 15px; }

footer a {
  text-decoration: none;
  color: #8d81ac;
  font-size: 15px; }

nav h4 {
  margin-left: 39px;
  font-size: 16px; }

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.footer-block__number {
  font-size: 30px; }

@media (max-width: 490px) {
  header{
    height: 100px;
  }
  nav{
    display: none;
  }
  .fork-app{
    background-image: url("../images/main-bg-mobile.jpg");
  }
  .fork-app__description{
    font-size: 23px;
  }
  .revolutionary-editor h2{
    font-size: 50px;
    text-align: center;
  }
  .code{
    display: none;
  }
  .advantages{
    height: 820px;
  }
  .user{
    height: 600px;
  }
  .user__steven-strange{

    margin-left: 120px;
  }
  .sites{
    padding-left: 80px;
    flex-direction: column;
  }
  .people_about h2{
    padding-top: 20px;
    font-size: 29px;
  }
  .people_about{
    height: 1120px;
    background-image: url('../images/main-bg2-mobile.png');
  }
  .fork{
    flex-direction: column;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .fork__block{
    margin: 30px 30px 0px;
  }
  .strip{
    margin-top: 25px;
  }
  .subscribe{
    height: 1785px;
  }
  .subscribe__block{
  flex-wrap: wrap;
  margin-top: 20px;
  }
  .header{
    height: 70px;
  }
  .rank{
    font-size: 20px;
  }
  .block_of_price{
    margin-bottom: 25px;
  }
  .footer{
    height: 280px;
  }
  .price{
    font-size: 34px;
  }
  .purchase{
    margin-bottom: 30px;
  }
  .text_price{
    margin-top: 20px;
  }
  .subscribe-to{
    display: flex;
    flex-direction: column;
    height: 130px;
  }
  .subscribe-to h2{
    margin-top: 20px;
    margin-left: 0px;
    font-size: 22px;
    display: block;
  }
  .subscribe-to__inputs input{
    width: 220px;
  }
  .subscribe-to__inputs button{
    margin-right: 140px;
    padding: 7px 27px 7px 27px;
  }
  .links{
    display: flex;
    flex-direction: column;
  }
  .link{
    padding-left: 20px;
    padding-top: 20px;
    width: 90%;
  }
  footer{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    padding-left: 20%;
  }
  .strip{
    width: 90%;
  }
  .advantages__blocks{
    margin-left: 5px;
  }
  body{
    overflow-x:hidden;
  }
  .nav__footer{
    display: none;
  }
  .footer-block{
    margin-top: 20px;
  }
}
@media (max-width:320px){
  .logo a{
    font-size: 20px;
  }
  .logo img{
    height: 30px;
    width: 30px
  }
  .logo__text{
    margin-left: 12px;
  }
  .buy-now{
    padding: 12px 24px;
  }
  .fork-app{
    padding-top: 80px;
    text-align: center;
  }
  h1{
    font-size: 41px;
  }
  .download{
    padding: 10px 37px;
    font-size: 20px;
}
  .revolutionary-editor{
    height: 345px;
  }
  .revolutionary-editor h2{
    font-size: 30px;
  }
  .revolutionary-editor img{
    width: 280px;
  }
  .icon1{
    width: 170px;
  }
  .icon2{
    width: 153px;
  }
  .icon3{
    width: 85px;
  }
  .icon4{
    width: 110px;
  }
  .block1__margin {
    margin-left: 20px;
  }
  .block2__margin {
    margin-left: 27px;
}
  .block3__margin {
    margin-left: 60px;
}
  .block4__margin {
    margin-left: 40px;
}
  .advantages{
    height: 840px;
  }
  .user{
    height: 500px;
  }
  .user__steven-strange {
    margin-left: 70px;
}
.name {
  font-size: 20px;
  width: 186px;
}
.pseudonym {
    font-size: 14px;
}
.text-Pixelbuddha {
    font-size: 16px;
}
.time{
  margin-top: 10px;
}
.sites {
    padding-left: 10px;
    flex-direction: column;
}
  .people_about{
    height: 1030px;
  }
  .people_about h2{
    text-align: center;
  }
  .fork__block{
    padding-top: 25px;
    width: 100%;
    margin: 0px;
  }
  .fork__block p {
    font-size: 13px;
    margin-top: 13px;
  }
  .subscribe h2{
    font-size: 35px;
  }
  .subscribe{
    height: 1830px;
  }
  .subscribe-to h2 {
    font-size: 20px;
  }
  .subscribe-to__inputs input {
    width: 140px;
    padding: 10px;
  }
  .subscribe-to__inputs button {
    margin-right: 210px;
    padding: 1px 4px;
        margin-left: 40px;
  }
  footer{
        padding-left: 8%;
  }
}
@media (min-width: 320px) and (max-width: 428px){
  .subscribe{
    height: 1900px;
  }
}
@media (min-width: 1000px){
    .block_of_price:hover {
    -webkit-transform: scale(1.22);
    -ms-transform: scale(1.22);
    transform: scale(1.22);
    margin: 55px 0 65px; }
}
